---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- Вступительный -->

  <section class="bg-linear-to-br from-orange-600 to-blue-700 text-white py-24 x-6"> 
  <h1>
    Достопримечательности<br>Набережных Челнов
  </h1>
  <p>
  Удобный путеводитель по самым инетресным местам города!
  </p>

  <a href="/attractions">
    <button>
      Смотреть все достопримечательности
    </button>
  </a>

  <a href="/map">
    <button>
      Смотреть карту
    </button>
  </a>
  </section>

  <h2>
    Добро пожаловать!
  </h2>
  <p>
    Этот сайт создан, чтобы пользователям было удобно познакомиться Набережными Челнами и узнать о самых интересных местах города. На сайте вы найдете информацию о достопримечательностях, музеях, парках и других интересных местах, которые стоит посетить в Набережных Челнах. Мы надеемся, что этот сайт поможет вам открыть для себя все удивительные места, которые предлагает наш город!
    Сделано с любовью на NixOS и Astro!
  </p>

  <h2>
    Популярные места
  </h2>
  <a href="/attractions">
      Смотреть все достопримечательности
  </a>

  <div>
    <!-- Здесь потом будут динамические карточки из Content Collections -->
    <!-- пока оставляем твой компонент как заглушку -->
    <!-- Можно будет заменить на реальные карточки -->
  </div>

  <p>
    Скороо здесь появятся карточки популярных достопримечательностей!
  </p>

  <footer>
    <p>© 2026 Достопримечательности Набережных Челнов</p>
    <p>
        Сделано на Astro • Tailwind • React
    </p>
  </footer>


</Layout>
