---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- Вступительный -->
  <main class="max-w-4xl mx-auto py-12 px-12 space-y-16">

    <!-- Вступительный блок -->

  <section class="text-center pt-8 pb-12">
  <h1 class="text-6xl md:text-7xl font-bold tracking-tighter text-gnome-text leading-none mb-6">
    Достопримечательности<br>Набережных Челнов
  </h1>
  <p class="text-xl mb-8 max-w-md mx-auto text-gnome-text-secondary leading-tight">
  Удобный путеводитель по самым инетресным местам города!
  </p>

  <div class="flex flex-col sm:flex-row justify-center gap-4">
  <a href="/attractions" class="adwaita-button bg-gnome-blue hover:bg-gnome-blue-hover">
      Смотреть все достопримечательности
  </a>

  <a href="/map" class="adwaita-button bg-gnome-green hover:bg-gnome-green-hover">
      Смотреть карту
  </a>
  </div>
  </section>
  
  <section class="adwaita-card">
  <h2 class="text-2xl font-semibold mb-4">
    Добро пожаловать!
  </h2>
  <p class="text-gnome-text-secondary mb-6 leading-relaxed">
    Этот сайт создан, чтобы пользователям было удобно познакомиться Набережными Челнами и узнать о самых интересных местах города. На сайте вы найдете информацию о достопримечательностях, музеях, парках и других интересных местах, которые стоит посетить в Набережных Челнах. Мы надеемся, что этот сайт поможет вам открыть для себя все удивительные места, которые предлагает наш город!
    Сделано с любовью на NixOS и Astro!
  </p>

  <h2 class="text-2xl font-semibold mb-4">
    Популярные места
  </h2>
  <a href="/attractions" class="adwaita-button bg-gnome-blue hover:bg-gnome-blue-hover inline-block mb-6">
      Смотреть все достопримечательности
  </a>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-8">
    <!-- Здесь потом будут динамические карточки из Content Collections -->
    <!-- пока оставляем твой компонент как заглушку -->
    <!-- Можно будет заменить на реальные карточки -->
  </div>

  <p class="text-gnome-text-secondary leading-relaxed">
    Скороо здесь появятся карточки популярных достопримечательностей!
  </p>
  </section>
  </main>
  <footer class="bg-gnome-dark text-gnome-text text-center p-4">
    <p>© 2026 Достопримечательности Набережных Челнов</p>
    <p>
        Сделано на Astro • Tailwind • React
    </p>
  </footer>


</Layout>
