---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- Вступительный -->

  <section class="bg-gnome-bg text-gnome-text py-12 px-4 rounded-3xl mx-8 my-8 text-center"> 
  <h1 class="text-4xl font-bold mb-4">
    Достопримечательности<br>Набережных Челнов
  </h1>
  <p class="text-lg mb-4">
  Удобный путеводитель по самым инетресным местам города!
  </p>

  <div class="flex justify-center gap-4">
  <a href="/attractions" class="bg-gnome-blue hover:bg-gnome-blue-hover px-6 py-2 rounded-lg font-medium transition-colors">
      Смотреть все достопримечательности
  </a>

  <a href="/map" class="bg-gnome-green hover:bg-gnome-green-hover px-6 py-2 rounded-lg font-medium transition-colors">
      Смотреть карту
  </a>
  </div>
  </section>
  
  <section class="bg-gnome-bg text-gnome-text mx-8 my-8 py-4 px-4 rounded-lg">
  <h2>
    Добро пожаловать!
  </h2>
  <p>
    Этот сайт создан, чтобы пользователям было удобно познакомиться Набережными Челнами и узнать о самых интересных местах города. На сайте вы найдете информацию о достопримечательностях, музеях, парках и других интересных местах, которые стоит посетить в Набережных Челнах. Мы надеемся, что этот сайт поможет вам открыть для себя все удивительные места, которые предлагает наш город!
    Сделано с любовью на NixOS и Astro!
  </p>

  <h2>
    Популярные места
  </h2>
  <a href="/attractions">
      Смотреть все достопримечательности
  </a>

  <div>
    <!-- Здесь потом будут динамические карточки из Content Collections -->
    <!-- пока оставляем твой компонент как заглушку -->
    <!-- Можно будет заменить на реальные карточки -->
  </div>

  <p>
    Скороо здесь появятся карточки популярных достопримечательностей!
  </p>
  </section>

  <footer class="bg-gnome-dark text-gnome-text text-center p-4">
    <p>© 2026 Достопримечательности Набережных Челнов</p>
    <p>
        Сделано на Astro • Tailwind • React
    </p>
  </footer>


</Layout>
